//Imports
@import 'nib'
@import 'jeet'
//Mixins
normalize-css()

//Variables
$yellow = #faee4e
$red    = #d80000
$green  = #00d084

//Styles
body
    font-size   14px
    line-height 22px
    font-family 'Noto Sans', sans-serif;
    color       #ddd
    height      100%
    background  #f3f3f3
