//Imports
@import 'nib'
@import 'jeet'
//Mixins
normalize-css()

//Variables
$yellow = #faee4e
$red    = #d80000
$green  = #00d084
$navy   = #2b2b9c

//Styles
body
    background  #f3f3f3
    color       white
    font-family 'Noto Sans', sans-serif;
    font-size   14px
    height      100%
    line-height 22px
