doctype
html
	head
		title Suyeun Lee UI designer Portfolio
		meta(name="viewport", content="width=device-width")
		link(href='favicon.ico', rel='icon')
		link(href='https://www.google.com/fonts#ReviewPlace:refine/Collection:Source+Sans+Pro', rel='stylesheet')
		ink(href='https://www.google.com/fonts#UsePlace:use/Collection:Noto+Sans', rel='stylesheet')
		link(href="css/styles.css", rel="stylesheet")

	body
		.wrap

		script(src="//code.jquery.com/jquery-2.0.3.min.js")
		script(src="js/scripts.js")

